@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

:root{
    --clr-white: #ffffff;
    --clr-dark: #2b2b2b;
    --clr-gold: rgb(255, 210, 0);
    --clr-transparant: rgba(255,255,255,0);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body, html{
    height: 100%;
}

.parallax{

    background-image: url('img/cover.jpg');

    max-height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    font-family: "Oswald", sans-serif;
}



*,
*::before,
*::after {
  box-sizing: border-box;
}

p{
    font-size: large;
}

img{
    max-width: 100%;
}


/*                    HEADER                   */


header{

    position: relative;
    height: 4rem;
    width: 100%;
    z-index: -2;
    background-image: linear-gradient(var(--clr-dark), var(--clr-dark), var(--clr-gold));
}


.logo-style{
    height: 3rem;
    width: 3rem;
    margin: .5rem;
}

.header-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header-content h2{
    color: var(--clr-white);
    font-weight: 50;
}



/*                    MAIN                          */

.spacing{
    margin: 100em;
    padding: 1em;
}


.sectionStyle{
    margin: 1em 3em;
    padding: 1em;
    border: solid rgba(250,250,250, 0.5);
    border-radius: 1em;
    max-width: 40em;

    /* prop: horizontal vertical blur color */
    box-shadow: -2px 2px 7px rgba(0, 0, 0, 0.1);
}

.section-sc-style{

    margin: 1em 3em;
    padding: 1em;
    max-width: 40em;
    align-items: center;
    justify-content: center;
}

.sectionStyle h2{
    margin-bottom: 0.5em;
    text-align: center;
    
}

@media screen and (min-width: 700px) {
    .sectionStyle,
    .section-sc-style
    {
        margin: 1em auto;;
    }
    
}

.button-style{
    background-image: linear-gradient(rgba(0,0,0,0) 40%, var(--clr-gold));
    font-size: 1.3rem;
    padding: 2px 4px;
    font-weight: 200%;
    border-radius: 20%;
}


/*                      FOOTER                      */

footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(var(--clr-transparant), var(--clr-dark) 99%);
    height: auto;
    width: 100vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 40px;
    color: var(--clr-white);
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.2rem;
    font-weight: 450;
    text-transform: capitalize;
    line-height: 0rem;
    margin-bottom: 0.5em;
    color: var(--clr-dark);
}

.footer-content p{
    max-width: 500px;
    margin: 0 auto;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: var(--clr-white);

}

.socials a i{
    font-size: 2rem;
    transition: color .4s ease;
}

.socials a:hover i{
    color: var(--clr-gold);
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 10px 0;
    position: center;
    text-align: center;
}

.footer-bottom p{
    font-size: 15px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}




